<div class="col-sm jumbotron padme">
  <h2>Coins</h2>
  <form [formGroup]="form" (ngSubmit)="insertCoin()">
    <label class="h6">Select Coin: </label>
    <select [formControl]="selectedCoinControl" (change)="selectCoin($event)">
      <option value="" selected disabled hidden>Choose Coin</option>
      <option *ngFor="let coin of acceptedCoins" [ngValue]="coin.name">{{convertToView(coin)}}</option>
    </select>
    <button>Insert Coin</button>
  </form>

  <button (click)="refundCoins()">Refund Coins</button>

<!--  <div>Balance: {{balance}}p</div>-->


</div>
