<div class="col-sm jumbotron padme">
  <h2>Drinks</h2>

<div [formGroup]="drinkForm">
  <label>Select Drink to purchase:</label>
  <br />
  <select [formControl]="selectDrinkForPurchaseControl"  (change)="selectDrink($event)">
    <option value="" selected disabled hidden>Choose Drink</option>
    <option *ngFor="let drink of availableDrinks" [ngValue]=drink.name>{{drink.name}} - {{drink.cost}}p</option>
  </select>
  <button (click)="purchaseDrink()">Purchase Selected Drink</button>
</div>
</div>
